#parent_div_1, #parent_div_2, #parent_div_3{
  width:100px;
  height:100px;
  border:1px solid red;
  margin-right:10px;
  float:left;
}
.child_div_1{
  float:left;
  margin-right:5px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
