/*#parent_div_1, #parent_div_2, #parent_div_3{*/
/*  width:100px;*/
/*  height:100px;*/
/*  border:1px solid red;*/
/*  margin-right:10px;*/
/*  float:left;*/
/*}*/
/*.child_div_1{*/
/*  float:left;*/
/*  margin-right:5px;*/
/*}*/

table {
  width: 60%;
}
mat-card{
  width: 60%;
}
/*.container-m {*/
/*  height: 100%;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

#wrapper {
  display: flex;
}

#left {
  flex: 1;

}

#right {
  flex: 1;
  display: inline-block;
  width: 70%;
  border: 1px solid grey;
  float: right !important;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  left:10%;
  padding: 1em;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.selection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

mat-card image{
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}

.image{
  height: 900px; /* adjust as needed */
  width: 1700px;
}
